.icon-icon-calendar-blue:before {
  content: "\e900";
  color: #3455d1;
}

.icon-upload_icon:before {
  content: "\e906";
  color: #3455d1;
  font-size: 30px;
}

.icon-icon_clock:before {
  content: "\e908";
  color: #333E48;
}

.icon-icon_clock-white:before {
  content: "\e908";
  color: #FFFFFF;
}

.icon-show-more:before {
  font-size: 10px;
}

.icon-show-more-disabled:before {
  content: "\e901";
  color: #00000042;
  font-size: 10px;
}